{extend name="base" /}
{block name="body"}
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-tab layui-tab-brief">
            <div class="layui-tab-content mt30">
                <div class="layui-tab-item layui-show video-count">
                    <div class="layui-row video-count-info-box">
                        <div class="video-count-info ">
                            <div class="ayui-col-xs5 layui-col-sm5 layui-col-md5 left">
                                <div class="label">直播套餐</div>
                                <div class="item">账户类型：不支持API获取</div>
                                <div class="item">当前服务状态：不支持API获取</div>
                                <div class="item">计费类型：不支持API获取</div>
                            </div>
                            <div class="ayui-col-xs5 layui-col-sm5 layui-col-md5 right layui-col-md-offset1">
                                <div class="item">账号有效期还剩<br><span class="left-day"></span><span class="unit">不支持API获取</span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
{/block}