{extend name="iframe" /}
{block name="body"}
<form action="{:request()->url()}" class="layui-form mt50 mr50" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">评论</label>
        <div class="layui-input-block">
            <div style="height:36px;line-height: 36px">{$comment.contents}</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">回复</label>
        <div class="layui-input-block">
            <textarea name="replay" placeholder="请输入内容" class="layui-textarea">{$comment.replay|default=""}</textarea>
        </div>
        <input type="hidden" name="id" value="{$comment.id}">
    </div>
    <div class="layui-form-item mt50">
        <div class="layui-input-block">
            <button class="layui-btn" lay-filter="i" lay-submit="">保存</button>
            <button class="layui-btn layui-btn-primary" type="reset">重置</button>
        </div>
    </div>
</form>
{/block}