{extend name="base" /}
{block name="body"}
<div class="layui-card">
    <table class="layui-table layui-form">
        <thead>
        <tr>
            <th style="width: 80px">版本</th>
            <th>详情</th>
            <th style="width: 150px">时间</th>
            <th style="width: 100px">操作</th>
        </tr>
        </thead>
        <tbody>
       {foreach name="list" item="v" empty="$empty"}
        <tr>
            <td>{$v.version}</td>
            <th>{$v.notes}</th>
            <th>{$v.addtime}</th>
            <td><a href="{:url('admin/Appadmin/down', ['id' => $v.id])}" class="layui-btn layui-btn-xs layui-btn-normal"><i class="fa fa-edit"></i>下载源码</a></td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
{/block}
